.container{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-div{
    width: 80%;
    background-color: rgba(225, 225, 225, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 15px 20px;
    font-size: 15px;
}

.results-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    cursor: pointer;
}

.single-search-result{
    padding: 2%;
    background-color: rgb(225, 225, 225);
    margin-right: 12%;
    margin-left: 12%;
}

.submit-btn i{
    width: 100px;
}

.submit-btn{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: #005ba5;
    color: white;
}

.module-button{
    border: none;
    background-color: rgb(225, 225, 225);
    width: 100%;
}

.module-button:focus {
    border: none;
    outline: none;
}

.module-button:focus{
    outline:none !important;
}

.descrp{
    margin-top: 2%;
    margin-bottom: 10%;
}

.decription{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    font-style: italic;
}

.department{
    margin-left: 5%;
}
.level{
    margin-left: 5%;
}