.mainframe {
    text-align: center;
    padding: 5%;
}

#searchbtn {}

.search-bar {
    background: rgba(255, 255, 255, 0.2);
    padding-left: 2%;
    border-radius: 25px;
}

.modules-display{
    background-color: blanchedalmond;
}