{% extends "mainTemplate.html" %} {% block title %} Dashboard {% endblock %} {%
block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/dashboard.css') }}"
/>
{% endblock %} {%block content%}
<div class="container">
  <form action=/dashboard/results class="search-div" method="post">
    <input class="search-bar" type="text" placeholder="Search" name="input"/>
    <button class="submit-btn" type="submit">
      <i class="bi bi-search" id="searchbtn"></i>
    </button>
  </form>
</div>
{% for i in range(0, leng) %}
{% set x = res.hits.hits[i]._source.name %}
  <div class="results-search">
  <form class="single-search-result" action=/dashboard/pageModule/ method="post">
        <button class="module-button" value={{x}} type="submit" name="topic">
          <h4>
            {{res.hits.hits[i]._source.name}}
          </h4>

          <div class="decription">

            <p class="module-leader">
              Module Leader: {{res.hits.hits[i]._source.Module_learder}}
            </p>
            <p class="department">
                Department: {{res.hits.hits[i]._source.Department}}
            </p>
            <p class="level">
              Level: {{res.hits.hits[i]._source.Year}}
          </p>

          </div>
    </form>
  </div>
    {%endfor%}
    {% endblock %}