{% extends "mainTemplate.html" %} {% block title %} Dashboard {% endblock %} {%
block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/dashboard.css') }}"
/>
{% endblock %} {%block content%}

<form action=/dashboard/results class="search-div" method="post">
  <input class="search-bar" type="text" placeholder="Search" name="input"/>
  <button class="submit-btn" type="submit">
    <i class="bi bi-search" id="searchbtn"></i>
  </button>
</form>

{% for i in range(0, leng) %}
    <a> {{res.hits.hits[i]._source.name}} </a>
    {%endfor%}
{% endblock %}
