{% extends "mainTemplate.html" %} {% block title %} Courses {%endblock %} {%
block css %}<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/mycourses.css') }}"
/>
{% endblock %} {% block content%}
<div class="mainframe">
  <form action="">
    <input class="search-bar" type="text" placeholder="Search" />
    <button><i class="bi bi-search" id="searchbtn"></i></button>
  </form>
  <div id="modules-display">
    {% for i in range(0, length) %}
    <a> {{data.hits.hits[i]._source.name}} </a>
    {%endfor%}
  </div>
</div>
{% endblock%} {% block script %} {% endblock %}
