{% extends "mainTemplate.html" %}
{% block title %} {{title['hits']['hits'][0]['_source']['name']}} {% endblock %}

{%
    block css %}<link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/module-page.css') }}"
    />
    {% endblock %} 

{% block content %}

<div>
    <div class="module">
        <h3>{{title['hits']['hits'][0]['_source']['name']}}</h3>
        <p>{{title['hits']['hits'][0]['_source']['Module_learder']}}</p>
    </div>
<hr>
<div class="display-lectures">

    {% set x = title['hits']['hits'][0]['_source']['name'] %}
    {% for i in range(0, all_lec_len) %}
    <form class="form-content" action="/download" method="post">
        <input name='category' type='hidden' value="{{x}}">
        <button type="submit" name="lecture" value="{{all_lec[i]}}" class="each-lecture" > 
            <i class="bi bi-file-earmark-pdf"> {{all_lec[i]}} </i> 
    </form>
    {%endfor%}

</div>
</div>
{% endblock %}
